<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fisioterapia em casa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../Styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../Styles/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../Styles/inicial.css" />
    <script src="../Scripts/inicial.js"></script>
</head>
<body>
    <nav>
        <div class="grid">
            <div>
                 <img src="../Assets/exemplo.jpg" alt="perfil"/>
            </div>
            <div id="videosBtn" onCLick="videoSourcePage()">Videos</div>
            <div id="artigosBtn" onClick="artigosSource()">Artigos</div>
            <div id="profissionaisBtn" onClick="profissionalSource()">Profissionais</div>
            <div id="configBtn" onClick="config()">Configurações</div>
            <div id="sairBtn" onClick="sair()">Sair</div>
        </div>
        <hr>
    </nav>
    
</body>
</html>