input{
    width: 300px;
    background-color: rgb(201, 201, 236);
    color: rgb(119, 108, 168);
    border-radius: 10px;
    margin-left: 30%;
    margin-bottom: 10px;
}
#bloquearBtn{
background-color: tomato;
padding: 3px;
}
#bloquearBtn:hover{
    background-color: rgb(214, 57, 29);
}
#cancelarBtn{
    background-color: rgb(74, 76, 216);
padding: 3px;
border-radius: 5px;
}
#cancelarBtn:hover{
    background-color: rgb(16, 5, 46);
}