
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fisioterapia em casa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/content/login/style.css" media="screen" rel="stylesheet" />
    <link href="~/content/login/index.css" media="screen" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/login/index.js"></script>
</head>
<body onLoad="frases()">
    <nav>
        <h1>Fisioterapia em Casa</h1>
        <div id="btns" class="grid">
            <div id="loginBtn">Login</div>
            <div id="sobreBtn">Sobre</div>
        </div>
    </nav>

    <div id="sobreContent">
        <hgroup> 
           <h2 id="frase">"Aquele que estuda medicina sem livros navega num mar desconhecido, mas aquele que estuda medicina sem pacientes não vai ao mar."<br> - William Osler</h2>
        </hgroup>
        <div id="mensagem">
            <article>
                <section>
                    <p><a href="https://www.unasp.br/sp/"><img id="logo" src="~/imagens/Logo-UNASP-01.png" /></a>Idealizado pelos alunos do Centro Universitário Adventista de São Paulo</p>
                </section>
            </article>
         </div>
    </div>
    <div align="center" class="form">
        <form action="/Login/logar" method="post">
            <input type="text"id="email" name="email" ng-model="user" placeholder="Login de usuário" required="required" /><br>
            <input type="password" id="password" name="password" placeholder="Senha de usuário" required="required" /><br>
            <button type="submit">Login</button>
            <h5 id="Aviso">@ViewBag.mensagem</h5>
        </form>
      
    </div>




</body>
</html>