img{
    height: 30px;;
    border-radius: 10px;
}
.grid{
    grid-template-rows: 30px 1fr 10px;
    grid-template-columns: repeat(5, 1fr 200px);
}
#configBtn , #sairBtn{
    background-color: rgb(118, 177, 172);
}