
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <title>Página não encontrada</title>
    <link href="~/content/pagenotfound/notfound.css" rel="stylesheet" />
</head>
<body>

    <div>
        <h1>Atenção</h1>
        <img src="~/imagens/pag-nao-encontrada-preto.png" />
        <h2>Verifique se a url está correta.</h2>
    </div>
</body>
</html>

